.header {
    font-weight: initial;
    border: 1px solid #777777;
    position: relative;
    background: #181818;
    text-align: center;
    padding: 0.4em 0 0.4em 0;
}

.groupTable {
    color: #E0E0CD;
}

.groupTable td {
    border: 1px solid #777777;
    padding: 0.2em 0.2em;
}

.matches {
    position: relative;
    font-weight: initial;
    border: 1px solid #777777;
    position: relative;
    background: #181818;
    text-align: center;
    padding: 0.2em 0 0.2em 0;
    color: #E0E0CD;
}

.unstyleButton {
    all: unset;
    position: absolute;
    top: 3.6%;
    left: 12.5%;
    width: 100%;
    height: 100%;
}
